mapping/roudMapping.odd

<?xml version="1.0" encoding="utf-8"?>
<TEI xml:lang="en" xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>roudMapping20211029</title>
        <author>ES</author>
        <editor xml:id="sbauman.emt">Syd Bauman</editor>
        <editor xml:id="LB">Lou Burnard</editor>
        <editor xml:id="SR">Sebastian Rahtz</editor>
      </titleStmt>
      <publicationStmt>
        <publisher>TEI Consortium</publisher>
        <availability status="free">
          <p>This template file is freely available and you are hereby authorised to copy, modify,
            and redistribute it in any way without further reference or permissions.</p>
          <p>When making such modifications, you are strongly recommended to change the present text
            to include an accurate statement of the licencing conditions applicable to your modified
            text.</p>
        </availability>
      </publicationStmt>
      <notesStmt>
        <note type="ns">http://www.example.org/ns/nonTEI</note>
      </notesStmt>
      <sourceDesc>
        <p>Initially created on 
          <date when="2006-10-12T05:24:41">Thursday 12th October 2006</date>
          by the form at http://www.tei-c.org.uk/Roma/.</p>
      </sourceDesc>
    </fileDesc>
    <revisionDesc>
      <change when="2011-03-26" who="#SR">rewrite as new-style ODD </change>
      <change when="2007-08-12" who="#LB">Removed further elements added since this ODD was first
        created </change>
      <change when="2007-04-09" who="#LB">Added prose and reorganized structure to make it more
        document-like; changed deletion of attribute decls into deletion of att.declaring class; add
        deletes for elements email and floatingText added to P5 since this ODD was first created;
        considered but did not implement removal of all irrelevant datatype specs...</change>
      <change when="2006-10-14" who="#sbauman.emt">Made valid: 
        <list>
          <item>
            removed empty 
            <att>prefix</att>
            attribute</item>
          <item>added required 
            <att>type</att>
            attribute to 
            <gi>classSpec</gi>
            s</item>
        </list>
        <!--. <note>Sebastian had also made the above changes.</note>-->Also removed
        extraneous 
        <gi>altIdent</gi>
        elements, improved 
        <gi>sourceDesc</gi>
        , changed the
          
        <att>ident</att>
        of 
        <gi>schemaSpec</gi>
        to match the filename, and added this revision
        description. </change>
    </revisionDesc>
  </teiHeader>
  <text>
    <body>
      <p>This customization creates a schema for validating XML documents for the project
        Gustave Roud, Œuvres complètes (Université de Lausanne).</p>
      <div>
        <specGrp xml:id="classmods">
          <classSpec ident="att.global" mode="change" module="tei" type="atts">
            <attList>
              <attDef ident="xml:space" mode="delete"/>
              <attDef ident="xml:base" mode="delete"/>
            </attList>
          </classSpec>
          <classSpec ident="att.global.rendition" mode="change" module="tei" type="atts">
            <attList>
              <attDef ident="rend" mode="delete"/>
              <attDef ident="style" mode="delete"/>
            </attList>
          </classSpec>
          <classSpec ident="att.fragmentable" mode="delete" module="tei" type="atts"/>
          <classSpec ident="att.divLike" mode="delete" module="tei" type="atts"/>
          <classSpec ident="att.declaring" mode="delete" module="tei" type="atts"/>
          <classSpec ident="att.written" mode="delete" module="tei" type="atts"/>
          <classSpec ident="att.global.source" mode="delete" module="tei" type="atts"/>
          <classSpec ident="att.global.responsibility" mode="delete" module="tei" type="atts"/>
        </specGrp>
      </div>
      <div>
        <head>Formal declaration</head>
        <schemaSpec ident="roudMapping20211029" prefix="" xml:lang="en">
          <moduleRef include="add foreign head hi item l lb lg list note p quote ref unclear" key="core"/>
          <moduleRef key="tei"/>
          <moduleRef include="body dateline div text" key="textstructure"/>
          <moduleRef include="ex supplied space" key="transcr"/>
          <specGrpRef target="#classmods"/>
          <specGrpRef target="#bodyfixes"/>
          <specGrpRef target="#hdrfixes"/>
          <elementSpec ident="head" mode="change" module="core">
            <attList>
              <attDef ident="ana" mode="delete"/>
              <attDef ident="cert" mode="delete"/>
              <attDef ident="change" mode="delete"/>
              <attDef ident="copyOf" mode="delete"/>
              <attDef ident="corresp" mode="delete"/>
              <attDef ident="exclude" mode="delete"/>
              <attDef ident="facs" mode="delete"/>
              <attDef ident="hand" mode="delete"/>
              <attDef ident="n" mode="delete"/>
              <attDef ident="next" mode="delete"/>
              <attDef ident="place" mode="delete"/>
              <attDef ident="prev" mode="delete"/>
              <attDef ident="rendition" mode="delete"/>
              <attDef ident="resp" mode="delete"/>
              <attDef ident="sameAs" mode="delete"/>
              <attDef ident="select" mode="delete"/>
              <attDef ident="source" mode="delete"/>
              <attDef ident="style" mode="delete"/>
              <attDef ident="subtype" mode="delete"/>
              <attDef ident="synch" mode="delete"/>
              <attDef ident="xml:base" mode="delete"/>
              <attDef ident="xml:id" mode="delete"/>
              <attDef ident="xml:lang" mode="delete"/>
              <attDef ident="xml:space" mode="delete"/>
              <attDef ident="rend" mode="change" usage="opt"/>
              <attDef ident="type" mode="change" usage="opt">
                <defaultVal>main</defaultVal>
              </attDef>
            </attList>
          </elementSpec>
          <elementSpec ident="hi" mode="change" module="core">
            <attList>
              <attDef ident="ana" mode="delete"/>
              <attDef ident="cert" mode="delete"/>
              <attDef ident="change" mode="delete"/>
              <attDef ident="copyOf" mode="delete"/>
              <attDef ident="corresp" mode="delete"/>
              <attDef ident="exclude" mode="delete"/>
              <attDef ident="facs" mode="delete"/>
              <attDef ident="hand" mode="delete"/>
              <attDef ident="n" mode="delete"/>
              <attDef ident="next" mode="delete"/>
              <attDef ident="prev" mode="delete"/>
              <attDef ident="rendition" mode="delete"/>
              <attDef ident="resp" mode="delete"/>
              <attDef ident="sameAs" mode="delete"/>
              <attDef ident="select" mode="delete"/>
              <attDef ident="source" mode="delete"/>
              <attDef ident="style" mode="delete"/>
              <attDef ident="synch" mode="delete"/>
              <attDef ident="xml:base" mode="delete"/>
              <attDef ident="xml:id" mode="delete"/>
              <attDef ident="xml:lang" mode="delete"/>
              <attDef ident="xml:space" mode="delete"/>
              <attDef ident="rend" mode="change" usage="req"/>
            </attList>
          </elementSpec>
          <elementSpec ident="note" mode="change" module="core">
            <attList>
              <attDef ident="ana" mode="delete"/>
              <attDef ident="anchored" mode="delete"/>
              <attDef ident="cert" mode="delete"/>
              <attDef ident="change" mode="delete"/>
              <attDef ident="copyOf" mode="delete"/>
              <attDef ident="corresp" mode="delete"/>
              <attDef ident="evaluate" mode="delete"/>
              <attDef ident="exclude" mode="delete"/>
              <attDef ident="facs" mode="delete"/>
              <attDef ident="hand" mode="delete"/>
              <attDef ident="n" mode="delete"/>
              <attDef ident="next" mode="delete"/>
              <attDef ident="place" mode="delete"/>
              <attDef ident="prev" mode="delete"/>
              <attDef ident="rend" mode="delete"/>
              <attDef ident="rendition" mode="delete"/>
              <attDef ident="sameAs" mode="delete"/>
              <attDef ident="select" mode="delete"/>
              <attDef ident="source" mode="delete"/>
              <attDef ident="style" mode="delete"/>
              <attDef ident="subtype" mode="delete"/>
              <attDef ident="synch" mode="delete"/>
              <attDef ident="target" mode="delete"/>
              <attDef ident="targetEnd" mode="delete"/>
              <attDef ident="targetLang" mode="delete"/>
              <attDef ident="xml:base" mode="delete"/>
              <attDef ident="xml:id" mode="delete"/>
              <attDef ident="xml:lang" mode="delete"/>
              <attDef ident="xml:space" mode="delete"/>
              <attDef ident="resp" mode="change" usage="opt">
                <defaultVal>Roud</defaultVal>
              </attDef>
              <attDef ident="type" mode="change">
                <defaultVal>quote</defaultVal>
              </attDef>
            </attList>
          </elementSpec>
          <elementSpec ident="l" mode="change" module="core" ns="">
            <classes mode="replace">
              <memberOf key="model.lLike"/>
              <memberOf key="att.enjamb" mode="delete"/>
              <memberOf key="att.fragmentable" mode="delete"/>
              <memberOf key="att.global" mode="delete"/>
              <memberOf key="att.metrical" mode="delete"/>
            </classes>
            <attList>
              <attDef ident="ana" mode="delete"/>
              <attDef ident="cert" mode="delete"/>
              <attDef ident="change" mode="delete"/>
              <attDef ident="copyOf" mode="delete"/>
              <attDef ident="corresp" mode="delete"/>
              <attDef ident="enjamb" mode="delete"/>
              <attDef ident="exclude" mode="delete"/>
              <attDef ident="facs" mode="delete"/>
              <attDef ident="met" mode="delete"/>
              <attDef ident="n" mode="delete"/>
              <attDef ident="next" mode="delete"/>
              <attDef ident="part" mode="delete"/>
              <attDef ident="prev" mode="delete"/>
              <attDef ident="real" mode="delete"/>
              <attDef ident="rend" mode="delete"/>
              <attDef ident="rendition" mode="delete"/>
              <attDef ident="resp" mode="delete"/>
              <attDef ident="rhyme" mode="delete"/>
              <attDef ident="sameAs" mode="delete"/>
              <attDef ident="select" mode="delete"/>
              <attDef ident="source" mode="delete"/>
              <attDef ident="style" mode="delete"/>
              <attDef ident="synch" mode="delete"/>
              <attDef ident="xml:base" mode="delete"/>
              <attDef ident="xml:id" mode="delete"/>
              <attDef ident="xml:lang" mode="delete"/>
              <attDef ident="xml:space" mode="delete"/>
            </attList>
          </elementSpec>
          <elementSpec ident="lb" mode="change" module="core">
            <attList>
              <attDef ident="ana" mode="delete"/>
              <attDef ident="break" mode="delete"/>
              <attDef ident="cert" mode="delete"/>
              <attDef ident="change" mode="delete"/>
              <attDef ident="copyOf" mode="delete"/>
              <attDef ident="corresp" mode="delete"/>
              <attDef ident="ed" mode="delete"/>
              <attDef ident="edRef" mode="delete"/>
              <attDef ident="exclude" mode="delete"/>
              <attDef ident="facs" mode="delete"/>
              <attDef ident="n" mode="delete"/>
              <attDef ident="next" mode="delete"/>
              <attDef ident="prev" mode="delete"/>
              <attDef ident="rend" mode="delete"/>
              <attDef ident="rendition" mode="delete"/>
              <attDef ident="resp" mode="delete"/>
              <attDef ident="sameAs" mode="delete"/>
              <attDef ident="select" mode="delete"/>
              <attDef ident="source" mode="delete"/>
              <attDef ident="spanTo" mode="delete"/>
              <attDef ident="style" mode="delete"/>
              <attDef ident="subtype" mode="delete"/>
              <attDef ident="synch" mode="delete"/>
              <attDef ident="type" mode="delete"/>
              <attDef ident="xml:base" mode="delete"/>
              <attDef ident="xml:id" mode="delete"/>
              <attDef ident="xml:lang" mode="delete"/>
              <attDef ident="xml:space" mode="delete"/>
            </attList>
          </elementSpec>
          <elementSpec ident="lg" mode="change" module="core">
            <attList>
              <attDef ident="ana" mode="delete"/>
              <attDef ident="cert" mode="delete"/>
              <attDef ident="change" mode="delete"/>
              <attDef ident="copyOf" mode="delete"/>
              <attDef ident="corresp" mode="delete"/>
              <attDef ident="decls" mode="delete"/>
              <attDef ident="exclude" mode="delete"/>
              <attDef ident="facs" mode="delete"/>
              <attDef ident="met" mode="delete"/>
              <attDef ident="n" mode="delete"/>
              <attDef ident="next" mode="delete"/>
              <attDef ident="org" mode="delete"/>
              <attDef ident="part" mode="delete"/>
              <attDef ident="prev" mode="delete"/>
              <attDef ident="real" mode="delete"/>
              <attDef ident="rend" mode="delete"/>
              <attDef ident="rendition" mode="delete"/>
              <attDef ident="resp" mode="delete"/>
              <attDef ident="rhyme" mode="delete"/>
              <attDef ident="sameAs" mode="delete"/>
              <attDef ident="sample" mode="delete"/>
              <attDef ident="select" mode="delete"/>
              <attDef ident="source" mode="delete"/>
              <attDef ident="style" mode="delete"/>
              <attDef ident="subtype" mode="delete"/>
              <attDef ident="synch" mode="delete"/>
              <attDef ident="type" mode="delete"/>
              <attDef ident="xml:base" mode="delete"/>
              <attDef ident="xml:id" mode="delete"/>
              <attDef ident="xml:lang" mode="delete"/>
              <attDef ident="xml:space" mode="delete"/>
            </attList>
          </elementSpec>
          <elementSpec ident="p" mode="change" module="core">
            <attList>
              <attDef ident="ana" mode="delete"/>
              <attDef ident="cert" mode="delete"/>
              <attDef ident="change" mode="delete"/>
              <attDef ident="copyOf" mode="delete"/>
              <attDef ident="corresp" mode="delete"/>
              <attDef ident="decls" mode="delete"/>
              <attDef ident="exclude" mode="delete"/>
              <attDef ident="facs" mode="delete"/>
              <attDef ident="hand" mode="delete"/>
              <attDef ident="n" mode="delete"/>
              <attDef ident="next" mode="delete"/>
              <attDef ident="part" mode="delete"/>
              <attDef ident="prev" mode="delete"/>
              <attDef ident="rend" mode="delete"/>
              <attDef ident="rendition" mode="delete"/>
              <attDef ident="resp" mode="delete"/>
              <attDef ident="sameAs" mode="delete"/>
              <attDef ident="select" mode="delete"/>
              <attDef ident="source" mode="delete"/>
              <attDef ident="style" mode="delete"/>
              <attDef ident="synch" mode="delete"/>
              <attDef ident="xml:base" mode="delete"/>
              <attDef ident="xml:id" mode="delete"/>
              <attDef ident="xml:lang" mode="delete"/>
              <attDef ident="xml:space" mode="delete"/>
            </attList>
          </elementSpec>
          <elementSpec ident="quote" mode="change" module="core">
            <attList>
              <attDef ident="ana" mode="delete"/>
              <attDef ident="cert" mode="delete"/>
              <attDef ident="change" mode="delete"/>
              <attDef ident="copyOf" mode="delete"/>
              <attDef ident="corresp" mode="delete"/>
              <attDef ident="defective" mode="delete"/>
              <attDef ident="exclude" mode="delete"/>
              <attDef ident="facs" mode="delete"/>
              <attDef ident="n" mode="delete"/>
              <attDef ident="next" mode="delete"/>
              <attDef ident="notation" mode="delete"/>
              <attDef ident="prev" mode="delete"/>
              <attDef ident="rend" mode="change" usage="req">
                <defaultVal>inline</defaultVal>
                <valList mode="replace" type="closed">
                  <valItem ident="inline"/>
                  <valItem ident="block"/>
                </valList>
              </attDef>
              <attDef ident="rendition" mode="delete"/>
              <attDef ident="resp" mode="delete"/>
              <attDef ident="sameAs" mode="delete"/>
              <attDef ident="select" mode="delete"/>
              <attDef ident="style" mode="delete"/>
              <attDef ident="subtype" mode="delete"/>
              <attDef ident="synch" mode="delete"/>
              <attDef ident="type" mode="delete"/>
              <attDef ident="xml:base" mode="delete"/>
              <attDef ident="xml:id" mode="delete"/>
              <attDef ident="xml:lang" mode="delete"/>
              <attDef ident="xml:space" mode="delete"/>
              <attDef ident="source" mode="delete"/>
            </attList>
          </elementSpec>
          <elementSpec ident="ref" mode="change" module="core">
            <attList>
              <attDef ident="ana" mode="delete"/>
              <attDef ident="cRef" mode="delete"/>
              <attDef ident="cert" mode="delete"/>
              <attDef ident="change" mode="delete"/>
              <attDef ident="copyOf" mode="delete"/>
              <attDef ident="corresp" mode="delete"/>
              <attDef ident="decls" mode="delete"/>
              <attDef ident="evaluate" mode="delete"/>
              <attDef ident="exclude" mode="delete"/>
              <attDef ident="facs" mode="delete"/>
              <attDef ident="mimeType" mode="delete"/>
              <attDef ident="n" mode="delete"/>
              <attDef ident="next" mode="delete"/>
              <attDef ident="prev" mode="delete"/>
              <attDef ident="rend" mode="delete"/>
              <attDef ident="rendition" mode="delete"/>
              <attDef ident="resp" mode="delete"/>
              <attDef ident="sameAs" mode="delete"/>
              <attDef ident="select" mode="delete"/>
              <attDef ident="source" mode="delete"/>
              <attDef ident="style" mode="delete"/>
              <attDef ident="subtype" mode="delete"/>
              <attDef ident="synch" mode="delete"/>
              <attDef ident="targetLang" mode="delete"/>
              <attDef ident="type" mode="delete"/>
              <attDef ident="xml:base" mode="delete"/>
              <attDef ident="xml:id" mode="delete"/>
              <attDef ident="xml:lang" mode="delete"/>
              <attDef ident="xml:space" mode="delete"/>
              <attDef ident="target" mode="change" usage="req"/>
              <attDef ident="knoraLink" mode="add" usage="req">
                <desc>Link in the Knora DB.</desc>
              </attDef>
            </attList>
          </elementSpec>
          <elementSpec ident="body" mode="change" module="textstructure">
            <attList>
              <attDef ident="ana" mode="delete"/>
              <attDef ident="cert" mode="delete"/>
              <attDef ident="change" mode="delete"/>
              <attDef ident="copyOf" mode="delete"/>
              <attDef ident="corresp" mode="delete"/>
              <attDef ident="decls" mode="delete"/>
              <attDef ident="exclude" mode="delete"/>
              <attDef ident="facs" mode="delete"/>
              <attDef ident="n" mode="delete"/>
              <attDef ident="next" mode="delete"/>
              <attDef ident="prev" mode="delete"/>
              <attDef ident="rend" mode="delete"/>
              <attDef ident="rendition" mode="delete"/>
              <attDef ident="resp" mode="delete"/>
              <attDef ident="sameAs" mode="delete"/>
              <attDef ident="select" mode="delete"/>
              <attDef ident="source" mode="delete"/>
              <attDef ident="style" mode="delete"/>
              <attDef ident="synch" mode="delete"/>
              <attDef ident="xml:base" mode="delete"/>
              <attDef ident="xml:id" mode="delete"/>
              <attDef ident="xml:lang" mode="delete"/>
              <attDef ident="xml:space" mode="delete"/>
            </attList>
          </elementSpec>
          <elementSpec ident="dateline" mode="change" module="textstructure">
            <attList>
              <attDef ident="ana" mode="delete"/>
              <attDef ident="cert" mode="delete"/>
              <attDef ident="change" mode="delete"/>
              <attDef ident="copyOf" mode="delete"/>
              <attDef ident="corresp" mode="delete"/>
              <attDef ident="exclude" mode="delete"/>
              <attDef ident="facs" mode="delete"/>
              <attDef ident="n" mode="delete"/>
              <attDef ident="next" mode="delete"/>
              <attDef ident="prev" mode="delete"/>
              <attDef ident="rend" mode="delete"/>
              <attDef ident="rendition" mode="delete"/>
              <attDef ident="resp" mode="delete"/>
              <attDef ident="sameAs" mode="delete"/>
              <attDef ident="select" mode="delete"/>
              <attDef ident="source" mode="delete"/>
              <attDef ident="style" mode="delete"/>
              <attDef ident="synch" mode="delete"/>
              <attDef ident="xml:base" mode="delete"/>
              <attDef ident="xml:id" mode="delete"/>
              <attDef ident="xml:lang" mode="delete"/>
              <attDef ident="xml:space" mode="delete"/>
            </attList>
          </elementSpec>
          <elementSpec ident="div" mode="change" module="textstructure">
            <attList>
              <attDef ident="ana" mode="delete"/>
              <attDef ident="cert" mode="delete"/>
              <attDef ident="change" mode="delete"/>
              <attDef ident="copyOf" mode="delete"/>
              <attDef ident="corresp" mode="delete"/>
              <attDef ident="decls" mode="delete"/>
              <attDef ident="exclude" mode="delete"/>
              <attDef ident="facs" mode="delete"/>
              <attDef ident="hand" mode="delete"/>
              <attDef ident="met" mode="delete"/>
              <attDef ident="next" mode="delete"/>
              <attDef ident="org" mode="delete"/>
              <attDef ident="part" mode="delete"/>
              <attDef ident="prev" mode="delete"/>
              <attDef ident="real" mode="delete"/>
              <attDef ident="rend" mode="delete"/>
              <attDef ident="rendition" mode="delete"/>
              <attDef ident="resp" mode="delete"/>
              <attDef ident="rhyme" mode="delete"/>
              <attDef ident="sameAs" mode="delete"/>
              <attDef ident="sample" mode="delete"/>
              <attDef ident="select" mode="delete"/>
              <attDef ident="source" mode="delete"/>
              <attDef ident="style" mode="delete"/>
              <attDef ident="subtype" mode="delete"/>
              <attDef ident="synch" mode="delete"/>
              <attDef ident="type" mode="delete"/>
              <attDef ident="xml:base" mode="delete"/>
              <attDef ident="xml:id" mode="delete"/>
              <attDef ident="xml:lang" mode="delete"/>
              <attDef ident="xml:space" mode="delete"/>
              <attDef ident="n" mode="change" usage="req">
                <desc>gives a label for an element, which is not necessarily unique within the
                  document.</desc>
              </attDef>
            </attList>
          </elementSpec>
          <moduleRef except="ab alt altGrp anchor annotation join joinGrp link linkGrp listAnnotation standOff timeline when" key="linking"/>
          <elementSpec ident="seg" mode="change" module="linking">
            <attList>
              <attDef ident="ana" mode="delete"/>
              <attDef ident="cert" mode="delete"/>
              <attDef ident="change" mode="delete"/>
              <attDef ident="copyOf" mode="delete"/>
              <attDef ident="datcat" mode="delete"/>
              <attDef ident="exclude" mode="delete"/>
              <attDef ident="facs" mode="delete"/>
              <attDef ident="function" mode="delete"/>
              <attDef ident="hand" mode="delete"/>
              <attDef ident="met" mode="delete"/>
              <attDef ident="next" mode="delete"/>
              <attDef ident="notation" mode="delete"/>
              <attDef ident="part" mode="delete"/>
              <attDef ident="prev" mode="delete"/>
              <attDef ident="real" mode="delete"/>
              <attDef ident="rend" mode="delete"/>
              <attDef ident="rendition" mode="delete"/>
              <attDef ident="resp" mode="delete"/>
              <attDef ident="rhyme" mode="delete"/>
              <attDef ident="sameAs" mode="delete"/>
              <attDef ident="select" mode="delete"/>
              <attDef ident="source" mode="delete"/>
              <attDef ident="style" mode="delete"/>
              <attDef ident="subtype" mode="delete"/>
              <attDef ident="synch" mode="delete"/>
              <attDef ident="type" mode="delete"/>
              <attDef ident="valueDatcat" mode="delete"/>
              <attDef ident="xml:base" mode="delete"/>
              <attDef ident="xml:id" mode="delete"/>
              <attDef ident="xml:lang" mode="delete"/>
              <attDef ident="xml:space" mode="delete"/>
              <attDef ident="corresp" mode="change" usage="req"/>
              <attDef ident="n" mode="change" usage="req"/>
              <attDef ident="knoraLink" mode="add" usage="req">
                <desc>Link to Knora DB.</desc>
              </attDef>
            </attList>
          </elementSpec>
          <moduleRef except="addName affiliation age birth bloc climate country death district education event faith floruit forename genName geo geogFeat geogName langKnowledge langKnown listEvent listNym listObject listOrg listPerson listPlace listRelation location nameLink nationality nym object objectIdentifier objectName occupation offset org orgName person personGrp persona place population region relation residence roleName settlement sex socecStatus state surname terrain trait" key="namesdates"/>
          <elementSpec ident="persName" mode="change" module="namesdates">
            <attList>
              <attDef ident="ana" mode="delete"/>
              <attDef ident="calendar" mode="delete"/>
              <attDef ident="cert" mode="delete"/>
              <attDef ident="change" mode="delete"/>
              <attDef ident="copyOf" mode="delete"/>
              <attDef ident="corresp" mode="delete"/>
              <attDef ident="datingMethod" mode="delete"/>
              <attDef ident="datingPoint" mode="delete"/>
              <attDef ident="evidence" mode="delete"/>
              <attDef ident="exclude" mode="delete"/>
              <attDef ident="facs" mode="delete"/>
              <attDef ident="from" mode="delete"/>
              <attDef ident="from-custom" mode="delete"/>
              <attDef ident="from-iso" mode="delete"/>
              <attDef ident="full" mode="delete"/>
              <attDef ident="instant" mode="delete"/>
              <attDef ident="key" mode="delete"/>
              <attDef ident="n" mode="delete"/>
              <attDef ident="next" mode="delete"/>
              <attDef ident="notAfter" mode="delete"/>
              <attDef ident="notAfter-custom" mode="delete"/>
              <attDef ident="notAfter-iso" mode="delete"/>
              <attDef ident="notBefore" mode="delete"/>
              <attDef ident="notBefore-custom" mode="delete"/>
              <attDef ident="notBefore-iso" mode="delete"/>
              <attDef ident="nymRef" mode="delete"/>
              <attDef ident="period" mode="delete"/>
              <attDef ident="prev" mode="delete"/>
              <attDef ident="rend" mode="delete"/>
              <attDef ident="rendition" mode="delete"/>
              <attDef ident="resp" mode="delete"/>
              <attDef ident="role" mode="delete"/>
              <attDef ident="sameAs" mode="delete"/>
              <attDef ident="select" mode="delete"/>
              <attDef ident="sort" mode="delete"/>
              <attDef ident="source" mode="delete"/>
              <attDef ident="style" mode="delete"/>
              <attDef ident="subtype" mode="delete"/>
              <attDef ident="synch" mode="delete"/>
              <attDef ident="to" mode="delete"/>
              <attDef ident="to-custom" mode="delete"/>
              <attDef ident="to-iso" mode="delete"/>
              <attDef ident="type" mode="delete"/>
              <attDef ident="when" mode="delete"/>
              <attDef ident="when-custom" mode="delete"/>
              <attDef ident="when-iso" mode="delete"/>
              <attDef ident="xml:base" mode="delete"/>
              <attDef ident="xml:id" mode="delete"/>
              <attDef ident="xml:lang" mode="delete"/>
              <attDef ident="xml:space" mode="delete"/>
              <attDef ident="ref" mode="change" usage="req"/>
              <attDef ident="knoraLink" mode="add" usage="req">
                <desc>Link to Knora DB.</desc>
              </attDef>
            </attList>
          </elementSpec>
          <elementSpec ident="placeName" mode="change" module="namesdates">
            <attList>
              <attDef ident="ana" mode="delete"/>
              <attDef ident="calendar" mode="delete"/>
              <attDef ident="cert" mode="delete"/>
              <attDef ident="change" mode="delete"/>
              <attDef ident="copyOf" mode="delete"/>
              <attDef ident="corresp" mode="delete"/>
              <attDef ident="datingMethod" mode="delete"/>
              <attDef ident="datingPoint" mode="delete"/>
              <attDef ident="evidence" mode="delete"/>
              <attDef ident="exclude" mode="delete"/>
              <attDef ident="facs" mode="delete"/>
              <attDef ident="from" mode="delete"/>
              <attDef ident="from-custom" mode="delete"/>
              <attDef ident="from-iso" mode="delete"/>
              <attDef ident="full" mode="delete"/>
              <attDef ident="instant" mode="delete"/>
              <attDef ident="key" mode="delete"/>
              <attDef ident="n" mode="delete"/>
              <attDef ident="next" mode="delete"/>
              <attDef ident="notAfter" mode="delete"/>
              <attDef ident="notAfter-custom" mode="delete"/>
              <attDef ident="notAfter-iso" mode="delete"/>
              <attDef ident="notBefore" mode="delete"/>
              <attDef ident="notBefore-custom" mode="delete"/>
              <attDef ident="notBefore-iso" mode="delete"/>
              <attDef ident="nymRef" mode="delete"/>
              <attDef ident="period" mode="delete"/>
              <attDef ident="prev" mode="delete"/>
              <attDef ident="rend" mode="delete"/>
              <attDef ident="rendition" mode="delete"/>
              <attDef ident="resp" mode="delete"/>
              <attDef ident="role" mode="delete"/>
              <attDef ident="sameAs" mode="delete"/>
              <attDef ident="select" mode="delete"/>
              <attDef ident="sort" mode="delete"/>
              <attDef ident="source" mode="delete"/>
              <attDef ident="style" mode="delete"/>
              <attDef ident="subtype" mode="delete"/>
              <attDef ident="synch" mode="delete"/>
              <attDef ident="to" mode="delete"/>
              <attDef ident="to-custom" mode="delete"/>
              <attDef ident="to-iso" mode="delete"/>
              <attDef ident="type" mode="delete"/>
              <attDef ident="when" mode="delete"/>
              <attDef ident="when-custom" mode="delete"/>
              <attDef ident="when-iso" mode="delete"/>
              <attDef ident="xml:base" mode="delete"/>
              <attDef ident="xml:id" mode="delete"/>
              <attDef ident="xml:lang" mode="delete"/>
              <attDef ident="xml:space" mode="delete"/>
              <attDef ident="ref" mode="change" usage="req"/>
              <attDef ident="knoraLink" mode="add" usage="req">
                <desc>Link to Knora DB.</desc>
              </attDef>
            </attList>
          </elementSpec>
          <elementSpec ident="text" mode="change" module="textstructure">
            <attList>
              <attDef ident="ana" mode="delete"/>
              <attDef ident="cert" mode="delete"/>
              <attDef ident="change" mode="delete"/>
              <attDef ident="copyOf" mode="delete"/>
              <attDef ident="corresp" mode="delete"/>
              <attDef ident="decls" mode="delete"/>
              <attDef ident="exclude" mode="delete"/>
              <attDef ident="facs" mode="delete"/>
              <attDef ident="hand" mode="delete"/>
              <attDef ident="n" mode="delete"/>
              <attDef ident="next" mode="delete"/>
              <attDef ident="prev" mode="delete"/>
              <attDef ident="rend" mode="delete"/>
              <attDef ident="rendition" mode="delete"/>
              <attDef ident="resp" mode="delete"/>
              <attDef ident="sameAs" mode="delete"/>
              <attDef ident="select" mode="delete"/>
              <attDef ident="source" mode="delete"/>
              <attDef ident="style" mode="delete"/>
              <attDef ident="subtype" mode="delete"/>
              <attDef ident="synch" mode="delete"/>
              <attDef ident="type" mode="delete"/>
              <attDef ident="xml:base" mode="delete"/>
              <attDef ident="xml:id" mode="delete"/>
              <attDef ident="xml:lang" mode="delete"/>
              <attDef ident="xml:space" mode="delete"/>
            </attList>
          </elementSpec>
          <elementSpec ident="add" mode="change" module="core">
            <attList>
              <attDef ident="ana" mode="delete"/>
              <attDef ident="atLeast" mode="delete"/>
              <attDef ident="atMost" mode="delete"/>
              <attDef ident="cause" mode="delete"/>
              <attDef ident="cert" mode="delete"/>
              <attDef ident="change" mode="delete"/>
              <attDef ident="confidence" mode="delete"/>
              <attDef ident="copyOf" mode="delete"/>
              <attDef ident="corresp" mode="delete"/>
              <attDef ident="evidence" mode="delete"/>
              <attDef ident="exclude" mode="delete"/>
              <attDef ident="extent" mode="delete"/>
              <attDef ident="facs" mode="delete"/>
              <attDef ident="hand" mode="delete"/>
              <attDef ident="instant" mode="delete"/>
              <attDef ident="max" mode="delete"/>
              <attDef ident="min" mode="delete"/>
              <attDef ident="n" mode="delete"/>
              <attDef ident="next" mode="delete"/>
              <attDef ident="place" mode="delete"/>
              <attDef ident="precision" mode="delete"/>
              <attDef ident="prev" mode="delete"/>
              <attDef ident="quantity" mode="delete"/>
              <attDef ident="rend" mode="delete"/>
              <attDef ident="rendition" mode="delete"/>
              <attDef ident="resp" mode="delete"/>
              <attDef ident="sameAs" mode="delete"/>
              <attDef ident="scope" mode="delete"/>
              <attDef ident="select" mode="delete"/>
              <attDef ident="seq" mode="delete"/>
              <attDef ident="source" mode="delete"/>
              <attDef ident="status" mode="delete"/>
              <attDef ident="style" mode="delete"/>
              <attDef ident="subtype" mode="delete"/>
              <attDef ident="synch" mode="delete"/>
              <attDef ident="type" mode="delete"/>
              <attDef ident="unit" mode="delete"/>
              <attDef ident="xml:base" mode="delete"/>
              <attDef ident="xml:id" mode="delete"/>
              <attDef ident="xml:lang" mode="delete"/>
              <attDef ident="xml:space" mode="delete"/>
            </attList>
          </elementSpec>
          <elementSpec ident="ex" mode="change" module="transcr">
            <attList>
              <attDef ident="ana" mode="delete"/>
              <attDef ident="atLeast" mode="delete"/>
              <attDef ident="atMost" mode="delete"/>
              <attDef ident="cert" mode="delete"/>
              <attDef ident="change" mode="delete"/>
              <attDef ident="confidence" mode="delete"/>
              <attDef ident="copyOf" mode="delete"/>
              <attDef ident="corresp" mode="delete"/>
              <attDef ident="evidence" mode="delete"/>
              <attDef ident="exclude" mode="delete"/>
              <attDef ident="extent" mode="delete"/>
              <attDef ident="facs" mode="delete"/>
              <attDef ident="instant" mode="delete"/>
              <attDef ident="max" mode="delete"/>
              <attDef ident="min" mode="delete"/>
              <attDef ident="n" mode="delete"/>
              <attDef ident="next" mode="delete"/>
              <attDef ident="precision" mode="delete"/>
              <attDef ident="prev" mode="delete"/>
              <attDef ident="quantity" mode="delete"/>
              <attDef ident="rend" mode="delete"/>
              <attDef ident="rendition" mode="delete"/>
              <attDef ident="resp" mode="delete"/>
              <attDef ident="sameAs" mode="delete"/>
              <attDef ident="scope" mode="delete"/>
              <attDef ident="select" mode="delete"/>
              <attDef ident="source" mode="delete"/>
              <attDef ident="style" mode="delete"/>
              <attDef ident="synch" mode="delete"/>
              <attDef ident="unit" mode="delete"/>
              <attDef ident="xml:base" mode="delete"/>
              <attDef ident="xml:id" mode="delete"/>
              <attDef ident="xml:lang" mode="delete"/>
              <attDef ident="xml:space" mode="delete"/>
            </attList>
          </elementSpec>
          <elementSpec ident="space" mode="change" module="transcr">
            <attList>
              <attDef ident="ana" mode="delete"/>
              <attDef ident="atLeast" mode="delete"/>
              <attDef ident="atMost" mode="delete"/>
              <attDef ident="cert" mode="delete"/>
              <attDef ident="change" mode="delete"/>
              <attDef ident="confidence" mode="delete"/>
              <attDef ident="copyOf" mode="delete"/>
              <attDef ident="corresp" mode="delete"/>
              <attDef ident="evidence" mode="delete"/>
              <attDef ident="exclude" mode="delete"/>
              <attDef ident="extent" mode="delete"/>
              <attDef ident="facs" mode="delete"/>
              <attDef ident="instant" mode="delete"/>
              <attDef ident="max" mode="delete"/>
              <attDef ident="min" mode="delete"/>
              <attDef ident="n" mode="delete"/>
              <attDef ident="next" mode="delete"/>
              <attDef ident="precision" mode="delete"/>
              <attDef ident="prev" mode="delete"/>
              <attDef ident="rend" mode="delete"/>
              <attDef ident="rendition" mode="delete"/>
              <attDef ident="resp" mode="delete"/>
              <attDef ident="sameAs" mode="delete"/>
              <attDef ident="scope" mode="delete"/>
              <attDef ident="select" mode="delete"/>
              <attDef ident="source" mode="delete"/>
              <attDef ident="style" mode="delete"/>
              <attDef ident="synch" mode="delete"/>
              <attDef ident="unit" mode="delete"/>
              <attDef ident="xml:base" mode="delete"/>
              <attDef ident="xml:id" mode="delete"/>
              <attDef ident="xml:lang" mode="delete"/>
              <attDef ident="xml:space" mode="delete"/>
              <attDef ident="quantity" mode="change" usage="req"/>
            </attList>
          </elementSpec>
          <elementSpec ident="supplied" mode="change" module="transcr">
            <attList>
              <attDef ident="ana" mode="delete"/>
              <attDef ident="atLeast" mode="delete"/>
              <attDef ident="atMost" mode="delete"/>
              <attDef ident="cert" mode="delete"/>
              <attDef ident="change" mode="delete"/>
              <attDef ident="confidence" mode="delete"/>
              <attDef ident="copyOf" mode="delete"/>
              <attDef ident="corresp" mode="delete"/>
              <attDef ident="evidence" mode="delete"/>
              <attDef ident="exclude" mode="delete"/>
              <attDef ident="extent" mode="delete"/>
              <attDef ident="facs" mode="delete"/>
              <attDef ident="instant" mode="delete"/>
              <attDef ident="max" mode="delete"/>
              <attDef ident="min" mode="delete"/>
              <attDef ident="n" mode="delete"/>
              <attDef ident="next" mode="delete"/>
              <attDef ident="precision" mode="delete"/>
              <attDef ident="prev" mode="delete"/>
              <attDef ident="quantity" mode="delete"/>
              <attDef ident="reason" mode="delete"/>
              <attDef ident="rend" mode="delete"/>
              <attDef ident="rendition" mode="delete"/>
              <attDef ident="resp" mode="delete"/>
              <attDef ident="sameAs" mode="delete"/>
              <attDef ident="scope" mode="delete"/>
              <attDef ident="select" mode="delete"/>
              <attDef ident="source" mode="delete"/>
              <attDef ident="style" mode="delete"/>
              <attDef ident="synch" mode="delete"/>
              <attDef ident="unit" mode="delete"/>
              <attDef ident="xml:base" mode="delete"/>
              <attDef ident="xml:id" mode="delete"/>
              <attDef ident="xml:lang" mode="delete"/>
              <attDef ident="xml:space" mode="delete"/>
            </attList>
          </elementSpec>
          <elementSpec ident="foreign" mode="change" module="core">
            <attList>
              <attDef ident="ana" mode="delete"/>
              <attDef ident="cert" mode="delete"/>
              <attDef ident="change" mode="delete"/>
              <attDef ident="copyOf" mode="delete"/>
              <attDef ident="corresp" mode="delete"/>
              <attDef ident="exclude" mode="delete"/>
              <attDef ident="facs" mode="delete"/>
              <attDef ident="n" mode="delete"/>
              <attDef ident="next" mode="delete"/>
              <attDef ident="prev" mode="delete"/>
              <attDef ident="rend" mode="delete"/>
              <attDef ident="rendition" mode="delete"/>
              <attDef ident="resp" mode="delete"/>
              <attDef ident="sameAs" mode="delete"/>
              <attDef ident="select" mode="delete"/>
              <attDef ident="source" mode="delete"/>
              <attDef ident="style" mode="delete"/>
              <attDef ident="synch" mode="delete"/>
              <attDef ident="xml:base" mode="delete"/>
              <attDef ident="xml:id" mode="delete"/>
              <attDef ident="xml:lang" mode="delete"/>
              <attDef ident="xml:space" mode="delete"/>
            </attList>
          </elementSpec>
          <elementSpec ident="item" mode="change" module="core">
            <attList>
              <attDef ident="ana" mode="delete"/>
              <attDef ident="cert" mode="delete"/>
              <attDef ident="change" mode="delete"/>
              <attDef ident="copyOf" mode="delete"/>
              <attDef ident="corresp" mode="delete"/>
              <attDef ident="exclude" mode="delete"/>
              <attDef ident="facs" mode="delete"/>
              <attDef ident="n" mode="delete"/>
              <attDef ident="next" mode="delete"/>
              <attDef ident="prev" mode="delete"/>
              <attDef ident="rend" mode="delete"/>
              <attDef ident="rendition" mode="delete"/>
              <attDef ident="resp" mode="delete"/>
              <attDef ident="sameAs" mode="delete"/>
              <attDef ident="select" mode="delete"/>
              <attDef ident="sortKey" mode="delete"/>
              <attDef ident="source" mode="delete"/>
              <attDef ident="style" mode="delete"/>
              <attDef ident="synch" mode="delete"/>
              <attDef ident="xml:base" mode="delete"/>
              <attDef ident="xml:id" mode="delete"/>
              <attDef ident="xml:lang" mode="delete"/>
              <attDef ident="xml:space" mode="delete"/>
            </attList>
          </elementSpec>
          <elementSpec ident="list" mode="change" module="core">
            <attList>
              <attDef ident="ana" mode="delete"/>
              <attDef ident="cert" mode="delete"/>
              <attDef ident="change" mode="delete"/>
              <attDef ident="copyOf" mode="delete"/>
              <attDef ident="corresp" mode="delete"/>
              <attDef ident="exclude" mode="delete"/>
              <attDef ident="facs" mode="delete"/>
              <attDef ident="n" mode="delete"/>
              <attDef ident="next" mode="delete"/>
              <attDef ident="prev" mode="delete"/>
              <attDef ident="rend" mode="delete"/>
              <attDef ident="rendition" mode="delete"/>
              <attDef ident="resp" mode="delete"/>
              <attDef ident="sameAs" mode="delete"/>
              <attDef ident="select" mode="delete"/>
              <attDef ident="sortKey" mode="delete"/>
              <attDef ident="source" mode="delete"/>
              <attDef ident="style" mode="delete"/>
              <attDef ident="subtype" mode="delete"/>
              <attDef ident="synch" mode="delete"/>
              <attDef ident="type" mode="delete"/>
              <attDef ident="xml:base" mode="delete"/>
              <attDef ident="xml:id" mode="delete"/>
              <attDef ident="xml:lang" mode="delete"/>
              <attDef ident="xml:space" mode="delete"/>
            </attList>
          </elementSpec>
          <elementSpec ident="gap" mode="change" module="core">
            <attList>
              <attDef ident="agent" mode="delete"/>
              <attDef ident="ana" mode="delete"/>
              <attDef ident="atLeast" mode="delete"/>
              <attDef ident="atMost" mode="delete"/>
              <attDef ident="cert" mode="delete"/>
              <attDef ident="change" mode="delete"/>
              <attDef ident="confidence" mode="delete"/>
              <attDef ident="copyOf" mode="delete"/>
              <attDef ident="corresp" mode="delete"/>
              <attDef ident="dur" mode="delete"/>
              <attDef ident="dur-iso" mode="delete"/>
              <attDef ident="end" mode="delete"/>
              <attDef ident="evidence" mode="delete"/>
              <attDef ident="exclude" mode="delete"/>
              <attDef ident="extent" mode="delete"/>
              <attDef ident="facs" mode="delete"/>
              <attDef ident="instant" mode="delete"/>
              <attDef ident="max" mode="delete"/>
              <attDef ident="min" mode="delete"/>
              <attDef ident="n" mode="delete"/>
              <attDef ident="next" mode="delete"/>
              <attDef ident="precision" mode="delete"/>
              <attDef ident="prev" mode="delete"/>
              <attDef ident="quantity" mode="delete"/>
              <attDef ident="rend" mode="delete"/>
              <attDef ident="rendition" mode="delete"/>
              <attDef ident="resp" mode="delete"/>
              <attDef ident="sameAs" mode="delete"/>
              <attDef ident="scope" mode="delete"/>
              <attDef ident="select" mode="delete"/>
              <attDef ident="source" mode="delete"/>
              <attDef ident="start" mode="delete"/>
              <attDef ident="style" mode="delete"/>
              <attDef ident="synch" mode="delete"/>
              <attDef ident="unit" mode="delete"/>
              <attDef ident="xml:base" mode="delete"/>
              <attDef ident="xml:id" mode="delete"/>
              <attDef ident="xml:lang" mode="delete"/>
              <attDef ident="xml:space" mode="delete"/>
              <attDef ident="reason" mode="change" usage="req">
                <defaultVal>illegible</defaultVal>
              </attDef>
            </attList>
          </elementSpec>
          <elementSpec ident="unclear" mode="change" module="core" ns="">
            <attList>
              <attDef ident="agent" mode="delete"/>
              <attDef ident="ana" mode="delete"/>
              <attDef ident="atLeast" mode="delete"/>
              <attDef ident="atMost" mode="delete"/>
              <attDef ident="cert" mode="delete"/>
              <attDef ident="change" mode="delete"/>
              <attDef ident="confidence" mode="delete"/>
              <attDef ident="copyOf" mode="delete"/>
              <attDef ident="corresp" mode="delete"/>
              <attDef ident="evidence" mode="delete"/>
              <attDef ident="exclude" mode="delete"/>
              <attDef ident="extent" mode="delete"/>
              <attDef ident="facs" mode="delete"/>
              <attDef ident="instant" mode="delete"/>
              <attDef ident="max" mode="delete"/>
              <attDef ident="min" mode="delete"/>
              <attDef ident="n" mode="delete"/>
              <attDef ident="next" mode="delete"/>
              <attDef ident="precision" mode="delete"/>
              <attDef ident="prev" mode="delete"/>
              <attDef ident="quantity" mode="delete"/>
              <attDef ident="reason" mode="delete"/>
              <attDef ident="rend" mode="delete"/>
              <attDef ident="rendition" mode="delete"/>
              <attDef ident="resp" mode="delete"/>
              <attDef ident="sameAs" mode="delete"/>
              <attDef ident="scope" mode="delete"/>
              <attDef ident="select" mode="delete"/>
              <attDef ident="source" mode="delete"/>
              <attDef ident="style" mode="delete"/>
              <attDef ident="synch" mode="delete"/>
              <attDef ident="unit" mode="delete"/>
              <attDef ident="xml:base" mode="delete"/>
              <attDef ident="xml:id" mode="delete"/>
              <attDef ident="xml:lang" mode="delete"/>
              <attDef ident="xml:space" mode="delete"/>
            </attList>
            <classes mode="replace">
              <memberOf key="model.choicePart"/>
              <memberOf key="model.linePart"/>
              <memberOf key="model.pPart.transcriptional"/>
              <memberOf key="att.dimensions"/>
              <memberOf key="att.editLike"/>
              <memberOf key="att.global"/>
            </classes>
          </elementSpec>
        </schemaSpec>
      </div>
    </body>
  </text>
</TEI>